<p id="notice"><%= notice %></p>
<div class="row">
  <div class="small-12 columns play-track"> 
    <h1>Play Audio</h1>
    <div 
      class="play-square" 
      style="background-image: url(<%= @track.track_image.detail.url %>); background-repeat: no-repeat">
    </div>
  </div>
  <div class="track-info small-12 columns">
    <p class="small-6"><%= @track.title %></p>
    <p> tags: <%= @track.tag_list %></p>
    <p class="small-6"><%= @track.user_id %></p>
  </div>
  <div class="small-12 columns">
    <audio controls src="<%=@track.audio_track.url %>"</audio>
    <%= @track.tag_id %>
  </div>

  <%= render partial: 'comments/form', locals: { commentable: @track } %>
  
  <ul>
    <%= render partial: 'comments/comment', collection: @track.comments, locals: { commentable: @track } %>
  </ul>

</div>
