<p id="notice"><%= notice %></p>

<h1>
  Listing Tracks
  <%= " tagged with #{params[:tag]}" if params[:tag] %>
</h1>
<div id="tag_cloud">
  <% tag_cloud Track.tag_counts, %w[s m l] do |tag, css_class| %>
  <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  
  <% end %>
</div>

<%= render @tracks %>

<br>

<%= link_to 'New Track', new_track_path %>


