<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @track.user_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @track.tag_id %>
</p>

<p>
  <strong>Track image:</strong>
  <%= image_tag @track.track_image.urlm,,,,,,,, %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
