<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Mixtape" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <nav>
    <ul>
      <li><%= link_to "Tracks", tracks_path %></li>
      <li><%= link_to "New Track", new_track_path %></li>
    </ul>
  </nav>

  <div class='login'>
    <% if current_user %>
    <%= current_user.email %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to "Register", new_user_registration_path %>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
